@model Uk.Eticaret.Persistence.Entities.Product

<div class="container mt-5">
    <div class="container-fluid px-4">

        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Product</li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Product Create
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="ProductName" class="form-label"></label>
                                    <input asp-for="ProductName" class="form-control" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>

                                <div class="col">
                                    <label asp-for="ProductDescription" class="form-label"></label>
                                    <input asp-for="ProductDescription" class="form-control" />
                                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="ProductColor" class="form-label"></label>
                                    <input asp-for="ProductColor" class="form-control" />
                                    <span asp-validation-for="ProductColor" class="text-danger"></span>
                                </div>

                                <div class="col">
                                    <label asp-for="ProductRating" class="form-label"></label>
                                    <input asp-for="ProductRating" class="form-control" />
                                    <span asp-validation-for="ProductRating" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="Price" class="form-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>

                                <div class="col">
                                    <label asp-for="ProductDate" class="form-label"></label>
                                    <input asp-for="ProductDate" type="date" class="form-control" />
                                    <span asp-validation-for="ProductDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="Stock" class="form-label"></label>
                                    <input asp-for="Stock" class="form-control" />
                                    <span asp-validation-for="Stock" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3 form-check">
                                <div class="col">
                                    <input class="form-check-input" asp-for="IsActive" />
                                    <label class="form-check-label" asp-for="IsActive">Is Active</label>
                                </div>

                                <div class="col">
                                    <input class="form-check-input" asp-for="IsVisibleSlider" />
                                    <label class="form-check-label" asp-for="IsVisibleSlider">Is Visible on Slider</label>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="DeletedAt" class="form-label"></label>
                                    <input asp-for="DeletedAt" type="date" class="form-control" />
                                    <span asp-validation-for="DeletedAt" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
