<style>.bodysuccess {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containersuccess {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.iconsuccess {
    font-size: 60px;
    color: #d9534f; /* Hata durumu için kırmızı renk önerilir */
}

.h1success {
    color: #333;
}

.psuccess {
    color: #777;
    font-size: 18px;
    margin-top: 10px;
}

.buttonsuccess {
    display: inline-block;
    background-color: #d9534f; /* Hata durumu için kırmızı renk önerilir */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.buttonsuccess:hover {
    background-color: #a94442; /* Hover durumunda daha koyu bir ton önerilir */
}

</style>
<span class="bodysuccess">
    <div class="containersuccess">
        <div class="iconsuccess">&#10003;</div>
        <h1 class="h1success">Error:</h1>
        <p class="psuccess">@ViewBag.Message</p>
        <a asp-controller="Auth" asp-action="Login" class="buttonsuccess">Giriş Sayfasına Git..</a>
    </div>
</span>
<script>
    // Belirli bir süre sonra Login sayfasına yönlendirme işlemi
    setTimeout(function () {
        window.location.href = '/Auth/ForgotPassword'; // Login sayfasının yolunu düzenleyin
    }, 5000); // 5000 milisaniye (5 saniye) bekletme süresi, isteğinize göre ayarlayabilirsiniz
</script>
